<h2><%=post['title']%></h2>

<p>posted by <%=get_username(post['user_id'])%></p>

<p><%=post['blurb']%></p>

<div id="lat"><%=post['lat']%></div>
<div id="lng"><%=post['lng']%></div>

<div id="map" style="height: 400px; width: 50%;"></div>


<script src="/javascripts/displayLocation.js"></script>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=<%=get_api_key%>&callback=initMap&libraries=&v=weekly"
      async
    ></script>

